
<style>
  h3{
    font-weight: 600 !important;
  }
</style>


<ion-content>
<!-- style="background: #caa701" -->
<ion-grid fixed >
    <ion-row>
      <ion-col>
        <h3 align="center" >cineMac <b>:D</b></h3>
      </ion-col>
    </ion-row>
</ion-grid>

 
 
  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>
  
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>
  
  
  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-pares [peliculas]="populares"
                       (cargarMas)="cargarMas()"></app-slideshow-pares>
  


</ion-content>
